extends ./layout/index


block main 
  
  h1.text-center.my-3 #{title}
  form.form-control.shadow
    .mb-3
      label.form-label(for='name') Nombre del producto
      input#name.form-control(type='text' placeholder='Ingrese el nombre del producto')
    .mb-3
      label.form-label(for='price') Precio del produto
      input#price.form-control(type='text' placeholder='Ingrese un precio')
    .mb-3
      label.form-label(for='url_image') Url de la imagen
      input#url_image.form-control(type='url' placeholder='Ingrese un URL de la imagen')
    .mb-3
      //- input(type="submit", class='btn btn-danger' ,value="Guardar")
      button#enviar.btn.btn-danger(type='type') Guardar

    .mb-3
      p#mensaje.text-danger 
  script  
    include ./js/index.js